<div class="container my-5 mx-10">
  <div class="row rounded-3 border shadow-lg bg-white">
    <div><span class="fs-4">Page not found (placeholder)</span></div>
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="card">
          <div class="card-header">
            <h4>404- Page not found</h4>
          </div>
          <div class="card-body">
            <p>This page does not exist</p>
            <p><a routerLink="/home">Return to home</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
