<div id="override-bootstrap-account-page">
    <div class="card" style="height: 18rem;">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body overflow-auto">
            <div>
                <h4 id="list-item-1">Item 1</h4>
                <p>This is some placeholder content for the scrollspy page. Note that as you scroll down the page, 
                    the appropriate navigation link is highlighted. It's repeated throughout the component example. 
                    We keep adding some more example copy here to emphasize the scrolling and highlighting.
                </p>
                <h4 id="list-item-2">Item 2</h4>
                <p>This is some placeholder content for the scrollspy page. Note that as you scroll down the page, 
                    the appropriate navigation link is highlighted. It's repeated throughout the component example. 
                    We keep adding some more example copy here to emphasize the scrolling and highlighting.</p>
                <h4 id="list-item-3">Item 3</h4>
                <p>This is some placeholder content for the scrollspy page. Note that as you scroll down the page,
                     the appropriate navigation link is highlighted. It's repeated throughout the component example.
                      We keep adding some more example copy here to emphasize the scrolling and highlighting.</p>
                <h4 id="list-item-4">Item 4</h4>
                <p>This is some placeholder content for the scrollspy page. Note that as you scroll down the page,
                     the appropriate navigation link is highlighted. It's repeated throughout the component example.
                      We keep adding some more example copy here to emphasize the scrolling and highlighting.</p>
                <app-account-list-item></app-account-list-item>
              </div>
        </div>
      </div>
</div>