<div class="container-fluid">
    <button type="button" class="btn account-item">
        <div class="row">
            <div class="col-md-6 justify-content-start">
                <h5>348495380534</h5>
                <p class="account-type">Checking</p>
                <p class="account-owner">Account Owner: <span class="account-owner-text">Chloe Johnson</span></p>
            </div>
            <div class="col-md-6 justify-content-end align-self-center">
                <p class="account-amount">$1,234.98</p>
            </div>
        </div>
    </button>
</div>
