<div class="container my-5 mx-10">
  <div class="row rounded-3 border shadow-lg bg-white">
    <div><span class="fs-4">Bank Logo</span></div>

    <div class="row mb-3 g-2">
      <div class="col-md-4 d-flex justify-content-center">
        <button 
          routerLink="/account"
          type="button" 
          class="btn btn-primary btn-lg w-75">
          Accounts
        </button>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <button type="button" class="btn btn-primary btn-lg w-75">
          Members
        </button>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <button type="button" class="btn btn-primary btn-lg w-75">Cards</button>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <button
          routerLink="/branch"
          type="button"
          class="btn btn-primary btn-lg w-75"
        >
          Branches
        </button>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <button type="button" class="btn btn-primary btn-lg w-75">
          Appointments
        </button>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <button type="button" class="btn btn-primary btn-lg w-75">Loans</button>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <button type="button" class="btn btn-primary btn-lg w-75">
          Investments
        </button>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <button
          routerLink="/transactions"
          type="button"
          class="btn btn-primary btn-lg w-75"
        >
          Transactions
        </button>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <button type="button" class="btn btn-primary btn-lg w-75">Users</button>
      </div>
    </div>
  </div>
</div>
