<div class="container my-5 mx-10">
  <div class="row align-items-center rounded-3 border shadow-lg bg-white gy-3">
    <div class="d-flex justify-content-between align-items-center">
      <div class="fs-4">Manage Branches</div>
      <button routerLink="/branch/add" class="btn btn-sm btn-primary">
        Add Branch
      </button>
    </div>
    <form (ngSubmit)="getBranches(0)">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search"
          [(ngModel)]="searchInput"
          name="searchInput"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" type="submit">
            Search
          </button>
        </div>
      </div>
    </form>
    <app-branch-list
      [branches]="branches"
      [isLoading]="isLoading"
    ></app-branch-list>
    <div
      *ngIf="branches.length > 0"
      class="d-flex justify-content-between align-items-center"
    >
      <nav aria-label="page nav" class="">
        <ul class="pagination">
          <li class="page-item">
            <a
              class="page-link"
              role="button"
              (click)="pagePrev()"
              [ngClass]="{ disabled: prevDisabled }"
              ><span aria-hidden="true">&laquo;</span> Previous</a
            >
          </li>
          <li class="page-item">
            <a
              class="page-link"
              role="button"
              (click)="pageNext()"
              [ngClass]="{ disabled: nextDisabled }"
              >Next <span aria-hidden="true">&raquo;</span></a
            >
          </li>
        </ul>
      </nav>
      <p>Page {{ page + 1 }} of {{ totalPages }}</p>
    </div>
    <div class="col-md-14 bs-linebreak"></div>
  </div>
</div>
