<div class="container my-5 mx-10">
  <div class="row align-items-center rounded-3 border shadow-lg bg-white gy-3">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="fs-4">Add Branch</div>
      <form [formGroup]="branchForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputName">Branch Name</label>
            <input
              type="text"
              class="form-control"
              id="inputName"
              placeholder="Name"
              formControlName="branchName"
              [ngClass]="{
                'is-invalid':
                  branchForm.controls['branchName'].errors &&
                  branchForm.controls['branchName'].dirty &&
                  branchForm.controls['branchName'].errors['required']
              }"
            />
            <div
              class="invalid-feedback d-block"
              *ngIf="
                branchForm.controls['branchName'].errors &&
                branchForm.controls['branchName'].dirty &&
                branchForm.controls['branchName'].errors['required']
              "
            >
              Branch name is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Address</label>
          <input
            type="text"
            class="form-control"
            id="inputAddress"
            placeholder="Address"
            formControlName="addressLine1"
            [ngClass]="{
              'is-invalid':
                branchForm.controls['addressLine1'].errors &&
                branchForm.controls['addressLine1'].dirty &&
                branchForm.controls['addressLine1'].errors['required']
            }"
            addressLine1
          />
          <div
            class="invalid-feedback d-block"
            *ngIf="
              branchForm.controls['addressLine1'].errors &&
              branchForm.controls['addressLine1'].dirty &&
              branchForm.controls['addressLine1'].errors['required']
            "
          >
            Address 1 is required
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress2">Address 2</label>
          <input
            type="text"
            class="form-control"
            id="inputAddress2"
            placeholder="Suite number, floor, etc"
            formControlName="addressLine2"
          />
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input
              type="text"
              class="form-control"
              id="inputCity"
              placeholder="City"
              formControlName="city"
              [ngClass]="{
                'is-invalid':
                  branchForm.controls['city'].errors &&
                  branchForm.controls['city'].dirty &&
                  branchForm.controls['city'].errors['required']
              }"
            />
            <div
              class="invalid-feedback d-block"
              *ngIf="
                branchForm.controls['city'].errors &&
                branchForm.controls['city'].dirty &&
                branchForm.controls['city'].errors['required']
              "
            >
              Please enter a city
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select
              id="inputState"
              class="form-control"
              formControlName="state"
              [ngClass]="{
                'is-invalid':
                  branchForm.controls['state'].errors &&
                  branchForm.controls['state'].dirty &&
                  branchForm.controls['state'].errors['required']
              }"
            >
              <option selected value="">Choose...</option>
              <option value="AK">Alaska</option>
              <option value="AL">Alabama</option>
              <option value="AR">Arkansas</option>
              <option value="AZ">Arizona</option>
              <option value="CA">California</option>
              <option value="CO">Colorado</option>
              <option value="CT">Connecticut</option>
              <option value="DC">District of Columbia</option>
              <option value="DE">Delaware</option>
              <option value="FL">Florida</option>
              <option value="GA">Georgia</option>
              <option value="HI">Hawaii</option>
              <option value="IA">Iowa</option>
              <option value="ID">Idaho</option>
              <option value="IL">Illinois</option>
              <option value="IN">Indiana</option>
              <option value="KS">Kansas</option>
              <option value="KY">Kentucky</option>
              <option value="LA">Louisiana</option>
              <option value="MA">Massachusetts</option>
              <option value="MD">Maryland</option>
              <option value="ME">Maine</option>
              <option value="MI">Michigan</option>
              <option value="MN">Minnesota</option>
              <option value="MO">Missouri</option>
              <option value="MS">Mississippi</option>
              <option value="MT">Montana</option>
              <option value="NC">North Carolina</option>
              <option value="ND">North Dakota</option>
              <option value="NE">Nebraska</option>
              <option value="NH">New Hampshire</option>
              <option value="NJ">New Jersey</option>
              <option value="NM">New Mexico</option>
              <option value="NV">Nevada</option>
              <option value="NY">New York</option>
              <option value="OH">Ohio</option>
              <option value="OK">Oklahoma</option>
              <option value="OR">Oregon</option>
              <option value="PA">Pennsylvania</option>
              <option value="PR">Puerto Rico</option>
              <option value="RI">Rhode Island</option>
              <option value="SC">South Carolina</option>
              <option value="SD">South Dakota</option>
              <option value="TN">Tennessee</option>
              <option value="TX">Texas</option>
              <option value="UT">Utah</option>
              <option value="VA">Virginia</option>
              <option value="VT">Vermont</option>
              <option value="WA">Washington</option>
              <option value="WI">Wisconsin</option>
              <option value="WV">West Virginia</option>
              <option value="WY">Wyoming</option>
            </select>
            <div
              class="invalid-feedback d-block"
              *ngIf="
                branchForm.controls['state'].errors &&
                branchForm.controls['state'].dirty &&
                branchForm.controls['state'].errors['required']
              "
            >
              Please select a state
            </div>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zipcode</label>
            <input
              type="text"
              class="form-control"
              id="inputZip"
              placeholder="Zipcode"
              formControlName="zipCode"
              [ngClass]="{
                'is-invalid':
                  branchForm.controls['zipCode'].errors &&
                  branchForm.controls['zipCode'].dirty &&
                  branchForm.controls['zipCode'].errors['required']
              }"
            />
            <div
              class="invalid-feedback d-block"
              *ngIf="
                branchForm.controls['zipCode'].errors &&
                branchForm.controls['zipCode'].dirty &&
                branchForm.controls['zipCode'].errors['required']
              "
            >
              Please enter a zip code
            </div>
          </div>
          <label for="inputDetails">Branch Details</label>
          <div class="form-group">
            <textarea
              class="form-control"
              id="inputDetails"
              placeholder="Details"
              formControlName="branchDetails"
              [ngClass]="{
                'is-invalid':
                  branchForm.controls['branchDetails'].errors &&
                  branchForm.controls['branchDetails'].dirty &&
                  branchForm.controls['branchDetails'].errors['maxlength']
              }"
            ></textarea>
            <div
              class="invalid-feedback d-block"
              *ngIf="
                branchForm.controls['branchDetails'].errors &&
                branchForm.controls['branchDetails'].dirty &&
                branchForm.controls['branchDetails'].errors['maxlength']
              "
            >
              Branch details is too long
            </div>
          </div>
        </div>
        <div class="py-3">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="branchForm.invalid"
          >
            Add Branch
          </button>
          <button routerLink="/branch" class="btn btn-secondary" type="button">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
