.register-account-submit, .go-back{
    background-color: #14365d;
}

.account-type-dropdown{
    width: 150px;
}

.account-name{
    width: 35%;
}

#inputAddress, #inputAddress2, #city{
    width: 35%;
}

#state{
    width: 62%;
}

.form-errors{
    color: red;
}

.form-control, .form-select{
    border-radius: 10px;
}

.input-group.input-space{
    padding-left: 30px;
}