<div class="container my-5 mx-10">
    <div class="row rounded-3 border shadow-lg bg-white">
      <div><span class="fs-4">You are not authorized to access (placeholder)</span></div>
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="card">
            <div class="card-header">
              <h4>401-Unauthorized</h4>
            </div>
            <div class="card-body">
              <p>You are not authorized to access this resource</p>
              <p><a routerLink="/">Return to login</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>