<header class = "d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom" style = "background-color: #d85c27; color: #ffffff">
    <h4 class = "bi me-2" style = "margin-left: 2rem">Admin Portal</h4>
    <ul class = "nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li class = "px-2"><a href="">Home</a></li>
      <li class = "px-2"><a href="">Log Out</a></li>
    </ul>
</header>
<body>
    <div class = "container">
        <div class = "row">
            <div class = "col-sm-3" style = "background-color: #d85c27;">
                <div class = "container">
                    <div class = "row">
                        <label for = "dateFrom">Date From:</label>
                        <input type = "date" name = "dateFrom">
                    </div>
                    <div class = "row">
                        <label for = "dateTo">Date To:</label>
                        <input type = "date" name = "dateTo">
                    </div>
                    <div class = "row">
                        <label for = "transactionDescription">Description:</label>
                        <input type = "text" name = "transactionDescription">
                    </div>
                    <div class = "row">
                        <label for = "transactionType">Transaction Type:</label>
                        <select name = "transactionType">
                            <option name = "all">All</option>
                            <option name = "transfer">Transfer</option>
                            <option name = "debit">Debit</option>
                            <option name = "deposit">Deposit</option>
                        </select>
                    </div>
                    <div class = "row">
                        <label for = "transactionStatus">Transaction Status:</label>
                        <select name = "transactionStatus">
                            <option name = "all">All</option>
                            <option name = "pending">Pending</option>
                            <option name = "confirmed">Confirmed</option>
                            <option name = "rejected">Rejected</option>
                        </select>
                    </div>
                    <div class = "row">
                        <button type = "button" class = "btn btn-primary filter-button" (click)="applyFilters()">Apply Filters</button>
                    </div>
                </div>
            </div>
            <div class = "col-md-9">
                <div class = "row accountInputRow">
                    <div class = "col-sm-6">
                        <h4>Transactions</h4>
                    </div>
                    <div class = "col-md-6 ">
                        <label for = "accountInput">Account #: </label>
                        <input type = "text" name = "accountInput" id = "accountNumberInput">
                        <button type = "button" class = "btn btn-primary" (click) = "getTransactions();">Search</button>
                    </div>
                </div>
                <div class = "row transactions">
                    <div class = "container">
                        <div class = "col-12" *ngFor = "let transaction in filteredTransactionsList">
                            <div class = "row transaction-item">
                                <div class = "card">
                                    <h4>Test Transaction</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>